/* app css stylesheet */
.create{
  background-color: #99D3DF;
}

.delete{ 
  background-color: #b3c0e5;
}

.steps{
  background-color: #89d7b0;
}
path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}


div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 60px;          
    height: 28px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background-color: blue; 
    border: 0px;    
    border-radius: 8px;       

}

#nodeFormContainer {
    border: solid 1px black; 
    padding: 5px; 
    padding-left: 10px; 
    margin: 25px; 
    width: 350px; 
    left: 0; 
    background-color: white;
    display: none;
    text-align: center;
    position: absolute;
    z-index: 1;
    border-radius:8px;
}

#nodeFormError {
    color: red;
    display: none;
    text-align: center;
}

#nodeFormContainer[type ="text"]{
    text-align: center;
}

button{
  border-radius: 4px;
}